
#plus,
#minus {
    line-height: 100%;
}

#amount {
    width: 2em;
    background: none;
    border: none;
    text-align: center;
    -moz-appearance: textfield;
}

.modal {
    display: flex;
}

.modal.hide {
    display: none;
}
