
#plus,
#minus {
    line-height: 100%;
}

#amount {
    width: 2em;
    background: none;
    border: none;
    text-align: center;
    -moz-appearance: textfield;
}

#printModal.modal.show {
    display: flex !important;
}

/* #printModal.modal {
    display: none;
} */
